.bodydash{
    justify-content: center;
}

.contanrDash{
    background-color: rgba(102, 114, 219, 0.3);
    display: grid;
    grid-template-columns: repeat(1 ,360px);
    
    justify-content: left;
    border: 0px solid;
    width: 870px;
    /* margin-left: 450px; */
   
    height: 250px;
     /* padding:20px;   */
    margin-top: 30px;
    margin-left: 260px;
    
}
.titileDesc{
    display: grid;
    font-size: 30px;
  width: 600px;
  justify-items: left;
  margin-bottom: 0px;
  margin-left: 10px ;
  
  
}
 .titleDash{
    margin-bottom: 0px;
}
.buttonAndInputDash{
    display: flex;
    width: 640px;
    gap: 220px;
    margin-left: 10px ;
}
.inputIndiv{
width: 290px;
height: 20px;
}
.allbutton{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    height: 40px;
}
.add{
    border-radius: 7px;
    border: 0px;
    background-color: rgb(7, 7, 102);
    color: white;
    width: 130px;
}
.update{
    border-radius: 7px;
    border: 0px;
    background-color: rgb(71, 71, 243);
    color: white;
    width: 90px;
}
.delete{
    border-radius: 7px;
    border: 0px;
    background-color: rgb(252, 1, 1);
    color: white;
    width: 90px;
}