.RegAndLogin{
    display: flex;
    gap: 90px;
   justify-content: center;
    margin: 50px;
    margin-right: 90px;
    font-size: 30px;
   
    
   
}

.dashAndArt{
    display: flex;
    gap: 90px;
   justify-content: center;
    margin: 50px;
    margin-right: 90px;
    font-size: 30px;
    text-decoration: none;
   
}

.reg{
    text-decoration: none ; 
    color:rgb(7, 7, 102) ;
}

.reg:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.log{
    text-decoration: none ;
    
    color: rgb(7, 7, 102);
}

.log:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}

.dash{
    text-decoration: none ;
    color: rgb(7, 7, 102);
   
}

.dash:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}


.art{
    text-decoration: none ;
    color: rgb(7, 7, 102);
   
}
.art:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.logout{
    background-color: white;
    border: 0px;
    font-size: 30px;
    color: rgb(7, 7, 102);
    font-family: "Times New Roman", Times, serif;
   
}
.logout:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
    cursor:pointer ;

}